In [ ]:
!pip install .

In [ ]:
import ana.lib as ana

ana.preprocess()

In [ ]:
!pytest tests -v # verbose

In [ ]:
df_ana_14 = ana.load_data("csv/ana_2014.csv")

In [ ]:
# Este código garante que o notebook sempre vai buscar os módulos
%load_ext autoreload
%autoreload 2

In [ ]:
df_ana_14

In [ ]:
df_ana_14_clean = ana.clean_data(df_ana_14)
df_ana_14_clean

In [ ]:
ana_14_s3 = ana.ajustar_amazon_s3(df_ana_14_clean, './csv_s3/ana_14_s3.csv')

In [ ]:
df_ana_16 = ana.load_data("csv/ana_2016.csv")

In [ ]:
df_ana_16

In [ ]:
df_ana_16_clean = ana.clean_data(df_ana_16)
df_ana_16_clean

In [ ]:
ana_16_s3 = ana.ajustar_amazon_s3(df_ana_16_clean, './csv_s3/ana_16_s3.csv')

In [ ]:
import ed_superior.lib as ed_sup

ed_sup.preprocess()

In [ ]:
df_ed_sup_2009 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2009.csv")

In [ ]:
df_ed_sup_2009

In [ ]:
df_ed_sup_2009_clean = ed_sup.clean_data(df_ed_sup_2009)
df_ed_sup_2009_clean

In [ ]:
df_ed_sup_2009_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2009_clean, './csv_s3/ed_sup_2009_s3.csv')

In [ ]:
df_ed_sup_2010 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2010.csv")

In [ ]:
df_ed_sup_2010

In [ ]:
df_ed_sup_2010_clean = ed_sup.clean_data(df_ed_sup_2010)
df_ed_sup_2010_clean

In [ ]:
df_ed_sup_2010_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2010_clean, './csv_s3/ed_sup_2010_s3.csv')

In [ ]:
df_ed_sup_2011 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2011.csv")

In [ ]:
df_ed_sup_2011

In [ ]:
df_ed_sup_2011_clean = ed_sup.clean_data(df_ed_sup_2011)
df_ed_sup_2011_clean

In [ ]:
df_ed_sup_2011_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2011_clean, './csv_s3/ed_sup_2011_s3.csv')

In [ ]:
df_ed_sup_2012 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2012.csv")

In [ ]:
df_ed_sup_2012

In [ ]:
df_ed_sup_2012_clean = ed_sup.clean_data(df_ed_sup_2012)
df_ed_sup_2012_clean

In [ ]:
df_ed_sup_2012_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2012_clean, './csv_s3/ed_sup_2012_s3.csv')

In [ ]:
df_ed_sup_2013 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2013.csv")

In [ ]:
df_ed_sup_2013

In [ ]:
df_ed_sup_2013_clean = ed_sup.clean_data(df_ed_sup_2013)
df_ed_sup_2013_clean

In [ ]:
df_ed_sup_2013_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2013_clean, './csv_s3/ed_sup_2013_s3.csv')

In [ ]:
df_ed_sup_2014 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2014.csv")

In [ ]:
df_ed_sup_2014

In [ ]:
df_ed_sup_2014_clean = ed_sup.clean_data(df_ed_sup_2014)
df_ed_sup_2014_clean

In [ ]:
df_ed_sup_2014_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2014_clean, './csv_s3/ed_sup_2014_s3.csv')

In [ ]:
df_ed_sup_2015 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2015.csv")

In [ ]:
df_ed_sup_2015

In [ ]:
df_ed_sup_2015_clean = ed_sup.clean_data(df_ed_sup_2015)
df_ed_sup_2015_clean

In [ ]:
df_ed_sup_2015_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2015_clean, './csv/ed_sup_2015_s3.csv')

In [ ]:
df_ed_sup_2016 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2016.csv")

In [ ]:
df_ed_sup_2016

In [ ]:
df_ed_sup_2016_clean = ed_sup.clean_data(df_ed_sup_2016)
df_ed_sup_2016_clean

In [ ]:
df_ed_sup_2016_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2016_clean, './csv_s3/ed_sup_2016_s3.csv')

In [ ]:
df_ed_sup_2017 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2009.csv")

In [ ]:
df_ed_sup_2017

In [ ]:
df_ed_sup_2017_clean = ed_sup.clean_data(df_ed_sup_2017)
df_ed_sup_2017_clean

In [ ]:
df_ed_sup_2017_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2017_clean, './csv_s3/ed_sup_2017_s3.csv')

In [ ]:
df_ed_sup_2018 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2018.csv")

In [ ]:
df_ed_sup_2018

In [ ]:
df_ed_sup_2018_clean = ed_sup.clean_data(df_ed_sup_2018)
df_ed_sup_2018_clean

In [ ]:
df_ed_sup_2018_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2018_clean, './csv_s3/ed_sup_2018_s3.csv')

In [ ]:
df_ed_sup_2019 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2019.csv")

In [ ]:
df_ed_sup_2019

In [ ]:
df_ed_sup_2019_clean = ed_sup.clean_data(df_ed_sup_2019)
df_ed_sup_2019_clean

In [ ]:
df_ed_sup_2019_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2019_clean, './csv_s3/ed_sup_2019_s3.csv')

In [ ]:
df_ed_sup_2020 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2020.csv")

In [ ]:
df_ed_sup_2020

In [ ]:
df_ed_sup_2020_clean = ed_sup.clean_data(df_ed_sup_2020)
df_ed_sup_2020_clean

In [ ]:
df_ed_sup_2020_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2020_clean, './csv_s3/ed_sup_2020_s3.csv')

In [ ]:
df_ed_sup_2021 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2021.csv")

In [ ]:
df_ed_sup_2021

In [ ]:
df_ed_sup_2021_clean = ed_sup.clean_data(df_ed_sup_2021)
df_ed_sup_2021_clean

In [ ]:
df_ed_sup_2021_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2021_clean, './csv_s3/ed_sup_2021_s3.csv')

In [ ]:
df_ed_sup_2022 = ed_sup.load_data_with_correct_delimiter("csv/ed_sup_2022.csv")

In [ ]:
df_ed_sup_2022

In [ ]:
df_ed_sup_2022_clean = ed_sup.clean_data(df_ed_sup_2022)
df_ed_sup_2022_clean

In [ ]:
df_ed_sup_2022_s3 = ed_sup.ajustar_amazon_s3(df_ed_sup_2022_clean, './csv_s3/ed_sup_2022_s3.csv')

In [1]:
import enceja.lib as enceja

enceja.preprocess()

Teste Enceja!

In [ ]:
df_enceja_14 = enceja.load_data_with_correct_delimiter("csv/enceja_2014.csv")

In [ ]:
df_enceja_14

In [ ]:
df_enceja_14_clean = enceja.clean_data(df_enceja_14)
df_enceja_14_clean

In [ ]:
df_enceja_14_s3 = enceja.ajustar_amazon_s3(df_enceja_14_clean, './csv_s3/enceja_14_s3.csv')

In [2]:
df_enceja_20 = enceja.load_data("csv/enceja_2020.csv")

In [ ]:
df_enceja_20

In [3]:
df_enceja_20_clean = enceja.clean_data(df_enceja_20)
df_enceja_20_clean

,NU_INSCRICAO,NU_ANO,TP_CERTIFICACAO,TP_FAIXA_ETARIA,TP_SEXO,CO_UF_PROVA,SG_UF_PROVA,NO_ENTIDADE_CERTIFICADORA,IN_PROVA_LC,IN_PROVA_MT,...,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66
0,200001318359,2020,2,16,F,43,RS,SECRETARIA DE ESTADO DE EDUCAÇÃO DO RIO GRANDE...,0,1,...,null,B,null,null,null,null,null,null,A,C
1,200002815765,2020,2,12,M,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,C,B,null,null,null,null,null,null,A,C
2,200002310451,2020,2,8,M,53,DF,SECRETARIA DE ESTADO DE EDUCAÇÃO DO DISTRITO F...,1,0,...,null,A,A,A,A,B,A,B,null,null
3,200001895444,2020,2,11,F,13,AM,SECRETARIA DE ESTADO DE EDUCAÇÃO DO AMAZONAS,1,1,...,C,A,B,B,A,B,A,A,null,null
4,200002181288,2020,2,13,M,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,null,A,A,B,A,B,B,E,null,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607836,200001866882,2020,2,15,F,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,A,A,A,B,B,B,B,null,null,null
1607837,200001866883,2020,2,11,M,53,DF,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,null,A,B,B,A,A,A,B,null,null
1607838,200001866884,2020,1,1,F,41,PR,SECRETARIA DE ESTADO DE EDUCAÇÃO DO PARANÁ,1,1,...,B,A,A,A,A,B,A,D,null,null
1607839,200002570038,2020,2,2,F,31,MG,SECRETARIA DE ESTADO DE EDUCAÇÃO DE MINAS GERAIS,1,1,...,null,A,A,A,A,A,A,D,null,null
1607840,200002683085,2020,2,2,F,41,PR,SECRETARIA DE ESTADO DE EDUCAÇÃO DO PARANÁ,1,1,...,null,null,null,null,null,null,null,null,null,null

In [4]:
df_enceja_20_s3 = enceja.ajustar_amazon_s3(df_enceja_20_clean, './csv_s3/enceja_20_s3.csv')

/mnt/c/Users/maluv/OneDrive/Área de Trabalho/INEP/pacotePython/enceja/lib.py:82: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_chunk = df_chunk.applymap(lambda x: x.replace(',', ';') if isinstance(x, str) else x)

In [2]:
df_enceja_22 = enceja.load_data_with_correct_delimiter("csv/enceja_2022.csv")

Erro de decodificação com a codificação utf-8: 'utf-8' codec can't decode byte 0xc7 in position 26: invalid continuation byte
Arquivo carregado com sucesso usando a codificação ISO-8859-1

In [3]:
df_enceja_22

,NU_INSCRICAO,NU_ANO,TP_CERTIFICACAO,TP_FAIXA_ETARIA,TP_SEXO,CO_UF_PROVA,SG_UF_PROVA,NO_ENTIDADE_CERTIFICADORA,IN_PROVA_LC,IN_PROVA_MT,...,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62
0,200004884438,2022,2,15,M,53,DF,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,C
1,200004783444,2022,2,11,M,52,GO,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,0,1,...,B,A,B,A,A,A,A,NaN,NaN,NaN
2,200003542579,2022,2,13,M,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,C
3,200004855636,2022,2,11,M,15,PA,SECRETARIA DE ESTADO DE EDUCAÇÃO DO PARÁ,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN
4,200004773132,2022,2,13,M,42,SC,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,A,A,B,A,A,A,A,A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683129,200004887968,2022,2,6,F,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,A,A,B,A,A,B,A,NaN,NaN,NaN
1683130,200005034300,2022,2,8,M,35,SP,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,A,B,B,A,A,A,A,NaN,NaN,NaN
1683131,200004810824,2022,2,10,M,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,B,B,B,A,A,B,A,NaN,NaN,NaN
1683132,200004810825,2022,1,1,M,33,RJ,SECRETARIA DE ESTADO DE EDUCAÇÃO DO RIO DE JAN...,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,C
1683133,200005002688,2022,2,4,F,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,A,A,B,A,A,A,A,NaN,NaN,NaN

In [4]:
df_enceja_22_clean = enceja.clean_data(df_enceja_22)
df_enceja_22_clean

,NU_INSCRICAO,NU_ANO,TP_CERTIFICACAO,TP_FAIXA_ETARIA,TP_SEXO,CO_UF_PROVA,SG_UF_PROVA,NO_ENTIDADE_CERTIFICADORA,IN_PROVA_LC,IN_PROVA_MT,...,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61,Q62
0,200004884438,2022,2,15,M,53,DF,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,null,null,null,null,null,null,null,null,A,C
1,200004783444,2022,2,11,M,52,GO,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,0,1,...,B,A,B,A,A,A,A,null,null,null
2,200003542579,2022,2,13,M,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,null,null,null,null,null,null,null,null,A,C
3,200004855636,2022,2,11,M,15,PA,SECRETARIA DE ESTADO DE EDUCAÇÃO DO PARÁ,0,1,...,null,null,null,null,null,null,null,null,B,null
4,200004773132,2022,2,13,M,42,SC,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,A,A,B,A,A,A,A,A,null,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683129,200004887968,2022,2,6,F,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,A,A,B,A,A,B,A,null,null,null
1683130,200005034300,2022,2,8,M,35,SP,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,1,1,...,A,B,B,A,A,A,A,null,null,null
1683131,200004810824,2022,2,10,M,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,B,B,B,A,A,B,A,null,null,null
1683132,200004810825,2022,1,1,M,33,RJ,SECRETARIA DE ESTADO DE EDUCAÇÃO DO RIO DE JAN...,1,1,...,null,null,null,null,null,null,null,null,A,C
1683133,200005002688,2022,2,4,F,35,SP,SECRETARIA DE ESTADO DE EDUCAÇÃO DE SÃO PAULO,1,1,...,A,A,B,A,A,A,A,null,null,null

In [5]:
df_enceja_22_s3 = enceja.ajustar_amazon_s3(df_enceja_22_clean, './csv_s3/enceja_22_s3.csv')

/mnt/c/Users/maluv/OneDrive/Área de Trabalho/INEP/pacotePython/enceja/lib.py:82: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_chunk = df_chunk.applymap(lambda x: x.replace(',', ';') if isinstance(x, str) else x)